annadel_day_hr_2004.txt
annadel_day_hr_2005.txt
annadel_day_hr_2006.txt
annadel_day_hr_2007.txt
annadel_day_hr_2008.txt
annadel_day_hr_2009.txt
annadel_day_hr_2011.txt
backman_day_hr_2004.txt
backman_day_hr_2005.txt
backman_day_hr_2005_b.txt
backman_day_hr_2007.txt
backman_day_hr_2008.txt
backman_day_hr_2009.txt
backman_day_hr_2011.txt
backman_day_hr_2014.txt
badger_day_hr_2004.txt
badger_day_hr_2005.txt
badger_day_hr_2006.txt
badger_day_hr_2007.txt
badger_day_hr_2008.txt
badger_day_hr_2009.txt
badger_day_hr_2011.txt
badger_day_hr_2012.txt
beltane_day_hr_2004.txt
beltane_day_hr_2005.txt
beltane_day_hr_2006.txt
beltane_day_hr_2007.txt
beltane_day_hr_2008.txt
beltane_day_hr_2009.txt
beltane_day_hr_2009a.txt
beltane_day_hr_2010.txt
cook_day_hr_2004a.txt
cook_day_hr_2004b.txt
cook_day_hr_2005.txt
cook_day_hr_2006.txt
cook_day_hr_2008.txt
cook_day_hr_2010.txt
cook_day_hr_2011.txt
cook_day_hr_2011a.txt
cook_day_hr_2012.txt
cook_day_hr_2014.txt
kunde_day_hr_2004.txt
kunde_day_hr_2005.txt
kunde_day_hr_2009.txt
kunde_day_hr_2010.txt
kunde_day_hr_2011.txt
kunde_day_hr_2014.txt
mackie_day_hr_2005.txt
mackie_day_hr_2006.txt
mackie_day_hr_2008.txt
mackie_day_hr_2009.txt
mackie_day_hr_2010.txt
mackie_day_hr_2011.txt
mackie_day_hr_2012.txt
mackie_day_hr_2014.txt
mitsui_day_hr_2004a.txt
mitsui_day_hr_2004b.txt
mitsui_day_hr_2005.txt
mitsui_day_hr_2006.txt
mitsui_day_hr_2008.txt
mitsui_day_hr_2010.txt
mitsui_day_hr_2014.txt
sawi_day_hr_2004.txt
sawi_day_hr_2005.txt
sawi_day_hr_2006.txt
sawi_day_hr_2007.txt
sawi_day_hr_2008.txt
sawi_day_hr_2009.txt
sawi_day_hr_2010.txt
sawi_day_hr_2011.txt
sawi_day_hr_2012.txt
sawi_day_hr_2014.txt
sec_day_hr_2004.txt
sec_day_hr_2005.txt
sec_day_hr_2008.txt
sec_day_hr_2009.txt
sec_day_hr_2011.txt
sec_day_hr_2012.txt
sec_day_hr_2014.txt
secret_day_hr_2004a.txt
secret_day_hr_2004b.txt
secret_day_hr_2005.txt
secret_day_hr_2006.txt
secret_day_hr_2007.txt
secret_day_hr_2008.txt
secret_day_hr_2009.txt
secret_day_hr_2010.txt
secret_day_hr_2011.txt
secret_day_hr_2012.txt
spaulding_day_hr_2004.txt
spaulding_day_hr_2005.txt
spaulding_day_hr_2006.txt
spaulding_day_hr_2008.txt
spaulding_day_hr_2009.txt
spaulding_day_hr_2011.txt
spaulding_day_hr_2012.txt
spaulding_day_hr_2014.txt
sugar_day_hr_2005.txt
votruba_day_hr_2004.txt
votruba_day_hr_2005.txt
votruba_day_hr_2006.txt
votruba_day_hr_2008.txt
votruba_day_hr_2009.txt
votruba_day_hr_2010.txt
yahng_day_hr_2004.txt
yahng_day_hr_2005.txt
yahng_day_hr_2006.txt
yahng_day_hr_2007.txt
yahng_day_hr_2008.txt
yahng_day_hr_2010.txt
yahng_day_hr_2012.txt
yahng_day_hr_2014.txt
raw_exports
